.pagination {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 1rem auto;
  font-size: 1.3rem;
  color: #9eabb3;
  text-align: center;
}

.pagination a {
  color: #9eabb3;
  transition: all 0.2s ease;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px;
}

.newer-posts,
.older-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #ddd 1px dashed;
  text-decoration: none;
  transition: border 0.3s ease;
}

.newer-posts {
  left: 0;
}

.older-posts {
  right: 0;
}

.site-footer {
  padding-bottom: 20px !important;
}

.nav-current a:visited {
  color: yellow;
}

@media (min-width: 900px) {
  .ctsingle .post-feed {
    margin-top: -70px;
    padding-top: 0;
  }
  .ctsingle .site-nav {
    position: relative;
    top: -70px;
  }
}

@media (min-width: 795px) {
  .ctsingle .post-feed p {
    font-size: 1.8rem;
    line-height: 1.55em;
  }
}

@media (max-width: 650px) {
  .hide {
    display: none !important;
  }
  .copyright {
    text-align: center;
  }
}

.post-full-content pre code {
  color: #e5eff5;
}

#api__GH_commit_activity .loading {
  margin: 120px 0 60px;
}

#api__GH_commit_activity .loading p {
  margin: 0;
  max-width: 180px;

  font-size: 14px;
  line-height: 1.4;

  text-align: center;
}

.activity {
  max-width: 95vw;
}

.activity p,
.activity table {
  margin: 0;
}

.activity .repo .details {
  margin: 35px 0 25px;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;
}

.activity .repo .details .name {
  width: 74%;
}

.activity .repo .details .name h5 {
  margin: 0;
  padding: 0;

  text-align: left;
}

.activity .repo .details .lang {
  width: 24%;
}

.activity .repo .details .lang p {
  text-align: right;
  font-size: 14px;
}

.activity .repo .details > p {
  margin-top: 10px;
}

.activity .repo .commits {
  width: 100%;
  display: table;
}

.activity .repo .commits .commit:nth-of-type(even) {
  background: #fbfbfb;
}

.activity .repo .commits .commit .message {
  width: 100%;
}

@media (max-width: 650px) {
  .activity .repo .details {
    display: block;
  }

  .activity .repo .details .name,
  .activity .repo .details .lang {
    width: 100%;
  }

  .activity .repo .details .lang p {
    text-align: left;
  }
}
