<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async='async' src='https://www.googletagmanager.com/gtag/js?id={{.}}'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{.}}');
  </script>
{{ end }}
