<video id="video-container" width="100%" {{ with .Get "poster"}} poster="{{ . }}" {{ end }} controls></video>

<script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.4.4/shaka-player.compiled.js"></script>
<script>
  let container = document.getElementById(`video-container`);

  let player_fallback = () => {
    console.warn(`falling back to plain sources`);

    {{ with .Get "uri_webm"}}
    let source_webm = document.createElement(`source`);
    source_webm.src = {{ . }};
    container.appendChild(source_webm);
    {{ end }}

    {{ with .Get "uri_mp4"}}
    let source_mp4 = document.createElement(`source`);
    source_mp4.src = {{ . }};
    container.appendChild(source_mp4);
    {{ end }}
  };

  let player_init = async () => {
    let player = new shaka.Player(container);
    player.configure({
      abr: {
        defaultBandwidthEstimate: (1<<20),
        bandwidthUpgradeTarget: 0.55
      }
    });

    console.log(player.getConfiguration());

    window.player = player;

    player.addEventListener(`error`, console.error);

    // try dash first
    {{ with .Get "uri_dash"}}
    await player.load({{ . }}).catch(async e => { {{ end }}
      // didnt work, try hls
      {{ with .Get "uri_hls"}} await player.load({{ . }}).catch(e => { {{ end }}
        console.error(e);
        player.destroy();
        player_fallback();
      {{ with .Get "uri_hls"}} }); {{ end }}
    {{ with .Get "uri_dash"}} }); {{ end }}
  };

  let player_setup = () => {
    shaka.polyfill.installAll();

    if (shaka.Player.isBrowserSupported()) player_init();
    else player_fallback();
  };

  document.addEventListener(`DOMContentLoaded`, player_setup);
</script>