<video id="video-container" width="100%" {{ with .Get "poster"}} poster="{{ . }}" {{ end }} controls></video>

<script src="/assets/js/shaka-player-2.4.4.js"></script>
<script>
  let container = document.getElementById(`video-container`);
  let handle_video_event = (action, is_interaction) => {
    gtag("event", action, {
      event_category: "video_blogcontent",
      {{ with .Get "title"}} event_label: {{ . }}, {{ end }}
      non_interaction: !is_interaction,
      value: container.currentTime
    });
    console.info(`[i] video_event - fired ${action} @ ${container.currentTime}s`);
  };

  container.addEventListener("playing", () => handle_video_event("video_start", true));
  container.addEventListener("pause", () => handle_video_event("video_stop", true));
  container.addEventListener("ended", () => handle_video_event("video_ended", true));
  
  let player_fallback = () => {
    handle_video_event("video_fallback", false);

    {{ with .Get "uri_webm"}}
    let source_webm = document.createElement(`source`);
    source_webm.src = {{ . }};
    container.appendChild(source_webm);
    {{ end }}

    {{ with .Get "uri_mp4"}}
    let source_mp4 = document.createElement(`source`);
    source_mp4.src = {{ . }};
    container.appendChild(source_mp4);
    {{ end }}
  };

  let player_init = async () => {
    let player = new shaka.Player(container);
    player.configure({
      abr: {
        defaultBandwidthEstimate: (1<<20),
        bandwidthUpgradeTarget: 0.55
      }
    });

    window.player = player;

    player.addEventListener("error", console.error);
    player.addEventListener("adaptation", () => {
      gtag("event", "video_adaptation", {
        event_category: "video_blogcontent",
        {{ with .Get "title"}} event_label: {{ . }}, {{ end }}
        value: player.getStats().estimatedBandwidth || -1
      });
      console.info(`[i] video_event - fired video_adaptation`);
    });

    // try dash first
    {{ with .Get "uri_dash"}}
    await player.load({{ . }}).catch(async e => { {{ end }}
      // didnt work, try hls
      {{ with .Get "uri_hls"}} await player.load({{ . }}).catch(e => { {{ end }}
        console.error(e);
        player.destroy();
        player_fallback();
      {{ with .Get "uri_hls"}} }); {{ end }}
    {{ with .Get "uri_dash"}} }); {{ end }}
  };

  let player_setup = () => {
    shaka.polyfill.installAll();

    if (shaka.Player.isBrowserSupported()) player_init();
    else player_fallback();
  };

  document.addEventListener("DOMContentLoaded", player_setup);
</script>